#form-search-top{
    margin-bottom: 7px;
    padding-top: 8px;
}

#button-top{
    margin-top: 8px;
}

#cart-top, #help-top {
    margin-top: 4px;
}

#email {
    width: 334px;
}

#login-email, #login-pass{
    float: right;
}

#price {
    float: right;
    margin-top: 3px;
}

#categories {
    margin-top: 20px;
}

#category-checkbox {
    margin-left: 0px;
}