.dropdown:hover .dropdown-menu {
    display: block;
}

#car-mobile, #car-software, #car-tablet {
    margin: 0 auto;
}

#alert {
    margin-bottom: 0px;
}

#dropdown-login {
    width: 330px;
}

#dropdown-login {
    margin-top: 20px;
}

.carousel-caption {
    padding-bottom:0px;
}

#successAlert {
    background: transparent;
}

#form-search-top{
    margin-bottom: 7px;
    padding-top: 8px;
    width: 300px;
}

#button-top{
    margin-top: 8px;
}

#cart-top, #help-top {
    margin-top: 4px;
}

#email {
    width: 334px;
}

#login-email, #login-pass{
    float: right;
}

#price {
    float: right;
    margin-top: 5px;
}

#categories {
    margin-top: 20px;
}

#category-checkbox {
    margin-left: 0px;
}

#myAccListing, #editItem{
    display: block;
    margin-left: auto;
    margin-right: auto
}

#itemButtons {
    margin-top: 20px;
}

#item-thumbnail {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

}

#thumbnail_item{
    width: 500px;
    margin: 20px auto;
    padding: 50px;
     border: solid blue 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#item-image {
    margin-top: 20px;
    margin-bottom: 20px;
}

#watch-image, #cart-image {
    margin-top: 15px;
}

#item-image{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}
