.dropdown:hover .dropdown-menu {
display: block;
}

#successAlert {
    background: transparent;
}

#form-search-top{
    margin-bottom: 7px;
    padding-top: 8px;
}

#button-top{
    margin-top: 8px;
}

#cart-top, #help-top {
    margin-top: 4px;
}

#email {
    width: 334px;
}

#login-email, #login-pass{
    float: right;
}

#price {
    float: right;
    margin-top: 5px;
}

#categories {
    margin-top: 20px;
}

#category-checkbox {
    margin-left: 0px;
}

#myAccListing, #editItem{
    display: block;
    margin-left: auto;
    margin-right: auto
}

#itemButtons {
    margin-top: 20px;
}

#item-thumbnail-well {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#item-image {
    margin-top: 20px;
    margin-bottom: 20px;
}

#watch-image, #cart-image {
    margin-top: 15px;
}