.container {
    //border: solid red 2px;
}

#body-1 {
    //border: solid black 1px;
    min-height: 1000px;
}

#body-upper {
    margin-top: 20px;
}

#featured {
    text-align: center;
    height: 10px;
}

#email-footer {
    margin-top: 11px;
}

#h3-feat {
    margin-top: 10.5px;
    margin-bottom: 10.5px;
}

#item-image {
    //border: solid salmon 1px;
}

.item-image {
    //border: solid teal 1px;
    max-width:100%;
    max-height:100%;
}

.small-item-image{
    max-width:50%;
    max-height:50%;
}

#l-ewwel, #it-tieni, #it-tielet {
    //border: solid forestgreen 2px;
    margin-top: 10px;
}

#l-ewwel, #it-tieni {
    text-align: left;
}

#it-tielet {
    text-align: right;
}

#register-button, #login-button {
    float: right;
    margin-left: 4px;
}

#item-heading {
    background-color: #18bc9c;
    border-color: #18bc9c;
}

#item-border {
    border-color: #18bc9c;
}

#search {
    //border: solid 1px #f39c12;
    //height: 100px;
}

#view-all-items {
    //border: solid 1px blue;
    //min-height: 200px;
}